body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #699fad;
}
h1 {
    margin-top: 2rem;
  text-align: center;
  font-weight: bolder;
  color: #FFFFFF;
  text-shadow: 4px 3px 0px #7A7A7A;
}
h1 span{
    color: #fcff4d;
}
main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 20px;
}
/*Section*/
section {
  width: 100%;
}
/*Tabla*/

table {
  margin: 0;
  border-spacing: 0;
  width: 100%;
}
thead {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
table tr th {
  text-align: center;
  color: white;
  width: 25%;
  padding: 10px 0;
}
table tr td {
  text-align: center;
  color: white;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.377);
  padding: 1rem 0;
}
tbody {
  position: relative;
}
tbody > tr::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}
th button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
th button:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: gray;
}
.dataTables_empty {
  width: 100%;
} /*PARA CUANDO LA BUSCQUEDA NO TIENEN RESULTADOS*/
.cont-btn-action {
  display: flex;
  justify-content: space-around;
  color: white;
}
.btn-delete,
.btn-edit {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-delete {
  color: inherit;
  background-color: #f00;
}
.btn-edit {
  color: inherit;
  background-color: rgb(26, 101, 110);
}
/*Aside*/
aside {
  width: 100%;
  margin: 4rem 0;
}

/*Form agregar personas*/
.Flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.cont-input {
  width: 100%;
  padding: 0 10%;
}
.InputPrincipal {
  width: 30%;
}
.InputPrincipal,
.InputEdad,
.InputBoton {
  margin: 0.3rem 0;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  text-align: center;
}
.InputEdad,
.InputBoton {
  width: 18%;
}
.InputPrincipal,
.InputEdad {
  background-color: rgba(0, 0, 0, 0.5);
}
.InputPrincipal::placeholder,
.InputEdad::placeholder {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
}
.InputBoton #BotonEnviar {
  background-color: transparent;
  color: white;
  width: 100%;
  border: none;
}

/*Modal*/
.InputModal {
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  section {
    width: 100%;
  }
  /*Tabla*/
  .col-sm-12 {
    overflow-x: scroll;
  }
  aside {
    width: 100%;
  }
}
@media screen and (max-width: 588px) {
  .InputPrincipal {
    width: 100%;
  }
  .InputEdad {
    width: 30%;
  }
  .InputBoton {
    width: 67%;
    margin: 0;
  }
}
